// additional CSS styles

.sidebar {
    background: linear-gradient(to top, #171229, #3C2441);
    background-color: #3C2441;
    color: white;
}

a.sidebar-link {
color: white;
}

a.sidebar-link.active {
    background-color: #0E061E;
    border-left-color: #eac434;
    color: white;
}

a.sidebar-link:hover {
    background-color: #0E061E;
    color: #03cea4;
}

.sidebar-sub-headers a.sidebar-link {
    color:#ffffff80;
}
.sidebar-sub-headers a.sidebar-link:hover {
    color:#03cea4;
    background-color: transparent;
}

.sidebar-sub-headers a.sidebar-link.active {
    color:#eac434;
    background-color: transparent;
}

.navbar {
    background-color: #0E061E;
    color: white;
    border-bottom: none;
}

.navbar .site-name {
color: white;
}

.navbar .site-name:hover {
color: #03cea4;
}

a {
color: #e50066;
}

@media (max-width: 719px) {
    .sidebar-button {
        left: .6rem;
    }
    .navbar {
        padding-left: 3.4rem;
    }
}