// additional CSS styles

.sidebar {
    background-color: #0C192C;
    color: white;
}

a.sidebar-link {
color: white;
}

a.sidebar-link.active {
    background-color: #68778E;
    border-left-color: #46B99E;
    color: white;
}

a.sidebar-link:hover {
    background-color: #68778E;
    color: #ffffff;
}

.sidebar-sub-headers a.sidebar-link {
    color:#ffffff80;
}
.sidebar-sub-headers a.sidebar-link:hover {
    color:#B5E3D8;
    background-color: transparent;
}

.sidebar-sub-headers a.sidebar-link.active {
    color:#B5E3D8;
    background-color: transparent;
}

.navbar {
    background-color: #ffffff;
    color: black;
    border-bottom: none;
}

.navbar>.links {
    background-color: #ffffff;
}

.navbar input {
    border-radius: 4px;
}


.navbar .site-name {
color: black;
}

.navbar .site-name:hover {
color: #196ACC;
}

a {
color: #196ACC;
}

@media (max-width: 719px) {
    .sidebar-button {
        left: .6rem;
    }
    .navbar {
        padding-left: 3.4rem;
    }
}
