// additional CSS styles

.sidebar {
    background: linear-gradient(to top, #393142, #3D3344);
    background-color: #393142;
    color: white;
}

a.sidebar-link {
color: white;
}

a.sidebar-link.active {
    background-color: #292633;
    border-left-color: #eac434;
    color: white;
}

a.sidebar-link:hover {
    background-color: #292633;
    color: #03cea4;
}

.sidebar-sub-headers a.sidebar-link {
    color:#ffffff80;
}
.sidebar-sub-headers a.sidebar-link:hover {
    color:#03cea4;
    background-color: transparent;
}

.sidebar-sub-headers a.sidebar-link.active {
    color:#eac434;
    background-color: transparent;
}

.navbar {
    background-color: #0E0D13;
    color: white;
    border-bottom: none;
}

.navbar .site-name {
color: white;
}

.navbar .site-name:hover {
color: #03cea4;
}

a {
color: #e50066;
}